{
  "exclude": ["node_modules/**", "bundled/**", "performance/**", "logo/**", "examples/**"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "shippedProposals": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
