html, body{
    min-height: 100%;
    background: white; /* Old browsers */
}

*{
    -webkit-tap-highlight-color: transparent;
}

html, body {
    color: #fff;
    font-family: -apple-system, 'Helvetica Neue', Segoe UI, Arial;
    padding: 0;
    margin: 0;
    text-align: center;
	background: #222;
	text-shadow: 0 1px 0 #000;
}

a {
    color: #0cf;
	text-decoration: none;
}

h1 {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0;
}

.container {
    text-align: center;
    width: 100%;
}
.centerize {
	margin: 0 auto;
}
.button{
    display: block;
    border: 1px solid #6ca8fb;
    margin: 0 auto;
    border-radius: 3px;
    bottom: 55px;
    left: 50%;
    margin-left: -131px;
    position: absolute;
}

.button a{
    display: block;
    text-decoration: none;
    width: 260px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}

[class^='cd-iphone-6'] .cd-screen {
	background-color: #333;
}
.cd-screen > * {
	display: block;
}

#forceMe {
    z-index: 99;
    width: 93px;
    height: 93px;
    background: rgb(0, 204, 255);
    opacity: 1;
    border-radius: 100%;
    position: absolute;
    top: 235px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#forceValue {
    position: absolute;
    top: 450px;
    width: 100%;
}
#forceValue span {
	color: #0cf;
}